BasedOnStyle: LLVM
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterNamespace: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

AllowShortFunctionsOnASingleLine: Inline
IndentWrappedFunctionNames: false
NamespaceIndentation: All
